body{
    width: 100%;
    max-width: 1300px;
    font-family: "Poppins", sans-serif;
    margin: auto;
}

main{
    margin: 5%;
}

header{
    margin: 5%;
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}   

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 10%;
}

.nav__list{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.nav__list__item{
    padding: 0px;
    text-decoration: none;
    color: black;

}

.nav__list__item:hover{
    color: rgb(255, 142, 22);
}

h1{
    font-size: 90px;
    font-weight: 400;
}

p{
    font-size: 22px;
}

.intro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.intro__container{
    max-width: 500px;
}

.intro__text{
    max-width: 500px;
}

.soup{
    max-width: 100%;
    min-width: 350px;
}

.img__section{
    max-width: 500px;
    height: auto;
    margin-left: 5%;
    margin-top: -90px;
    padding-left: 10px;
    
}

@media screen and (max-width: 1000px) {
    header{
        max-width: 100%;
        min-width: 80%;
    }
    
    .intro{
        display: flex;
        flex-direction: column;
    }

    .intro__container{
        justify-content: center;
        margin: auto;
        margin-bottom: 40px;
        max-width: 90%;
    }

    .intro__title{
        text-align: center;
        font-size: 72px;
    }

    .intro__text{
        text-align: center;

    }

    .img__section{
        margin: auto;
    }

}

@media screen and (max-width: 500px) {
    header{
        visibility: hidden;
    }

    .intro__title{
        font-size: 36px;
    }

    .intro__text{
        font-size: 12px;

    }

    .soup{
        max-width: 100%;
        min-width: 200px;
    }

}    